<?xml version="1.0" encoding="UTF-8" ?>
	
<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"	
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd" 
>

    <!-- Copied and adpated (to use context parameters to select JNDI resources) from AMS2 version 1.5 -->

    <!-- ** persistence layer :: hibernate  ************************************ -->
    <!--  NOTE: 	difference to persistence.no2ndCache.xml
                    equally configured but
                            - (hibernate) 2nd level cache IS enabled 
                            - transaction mgmt IS enabled
    -->

    <!-- Hibernate SessionFactory -->
    <bean id="sessionFactory"
              class="org.springframework.orm.hibernate3.LocalSessionFactoryBean" >
        <property name="dataSource" ref="dataSource" />
        <property name="mappingResources" >
            <list>
                <value>orm/principal.hbm.xml</value>
                <value>orm/nodeauth.hbm.xml</value>
                <value>orm/rule.hbm.xml</value>
                <value>orm/license.hbm.xml</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <value>
                hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
                hibernate.cache.use_query_cache=true
                hibernate.cache.use_second_level_cache=true
				
                <!--hibernate.cache.provider_class=org.hibernate.cache.EhCacheProvider-->
                hibernate.cache.region.factory_class=net.sf.ehcache.hibernate.EhCacheRegionFactory
                <!-- for singleton factory - use class net.sf.ehcache.hibernate.SingletonEhCacheRegionFactory -->
                                
                <!--hibernate.cache.provider_configuration_file_resource_path=/ehcache.xml-->
                net.sf.ehcache.configurationResourceName=/ehcache.xml
                                
                hibernate.connection.useUnicode=true
                hibernate.connection.characterEncoding=UTF-8
            </value>
        </property>
    </bean>
	
	
    <!-- ** Transaction config ** -->
    <!-- enable the configuration of transactional behavior based on annotations -->
    <tx:annotation-driven transaction-manager="transactionManager" />
    <bean id="transactionManager" 
              class="org.springframework.orm.hibernate3.HibernateTransactionManager" >
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

</beans>
