<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:wicket>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>loginPage</title>
        <meta http-equiv="refresh" content="1; url=<%= request.getContextPath() %>/WEB-INF/classes/nl/mpi/metadatabrowser/wicket/HomePage.html" />
    </head>
    <body>
        <table border="0" cellspacing="2" cellpadding="0" height="300" align="center">
            <tr>
                <td width="400" align="center"><img src="<%= request.getContextPath() %>/lana_big.gif" alt="" width="224" height="100" border="0"></td>
            </tr>
            <tr>
                <td width="400" align="center">You are now logged in as  </td>
            </tr>
        </table>
    </body>
</html>
