<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:wicket>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>headerPanel</title>
    </head>
    <body>
        <wicket:panel>
            <img id="header" src="lana.gif" alt="" width="49" height="22" border="0" >
                <span id="header" name="appname">Metadata-Browser</span>
                <ul id="headerInformationContainer">
                    <li>
                        <a href="" wicket:id="aboutLink">about</a>
                    </li>
                    <li>
                        <a href="" wicket:id="manualLink">manual</a>
                    </li>
                    <li>
                        <a href="" wicket:id="registerLink">register</a>
                    </li>
                    <li><a wicket:id="userName" id="header"><span wicket:id="user"></span></a></li>
                    <li>
                        <a href="" wicket:id="userLoginLink">login</a>
                    </li>
                </ul>


                <!--            <span wicket:id="title">title here</span>
                            
                -->
        </wicket:panel>
    </body>
</html>
