<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:wicket>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>NodeActionsPanel</title>
    </head>
    <body>
        <wicket:panel>
            <div wicket:id="feedbackPanel">[Feedback]</div>
            <ul id="navigation">
                <li wicket:id="nodeActions">
                    <a href="" wicket:id="nodeActionLink"><span wicket:id="linkLabel">default wicket link</span></a>
                </li>
            </ul>
            <script>$(function() {
                    $('#navigation > li').hover(
                            function() {
                                $('a', $(this)).stop().animate({
                                    'marginTop': '-10px'
                                }, 200);
                            },
                            function() {
                                $('a', $(this)).stop().animate({
                                    'marginTop': '-80px'
                                }, 200);
                            }
                    );
                });</script>
        </wicket:panel>
    </body>
</html>