<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:wicket>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>userPanel</title>
    </head>
    <body>
        <wicket:panel>
            <div id="userInformationContainer">
                <li>
                    <a href="" wicket:id="userLoginLink"><span wicket:id="loginLabel">default wicket link</span></a>
                </li>
            </div>
            
            
<!--            <span wicket:id="title">title here</span>
            
            -->
        </wicket:panel>
    </body>
</html>
