/*
    Document   : style
    Created on : Feb 18, 2014, 3:23:22 PM
    Author     : Jean-Charles Ferrières <jean-charles.ferrieres@mpi.nl>
    Description:
        Purpose of the stylesheet follows.
*/

html{
    height: 100%;
}
body{
    margin:0;
    padding:0;
    overflow-y: hidden;
    height:100%;
    font-family: Verdana, Arial, Helv, Helvetica, sans-serif;
}

div#headerPanel {
    background: none repeat scroll 0 0 #1C3655;
    height: 40px;
    overflow: hidden;
    width: 100%;
    top: 0;
    clear: right;
}

#header{
    color: white;
    float:left;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 2px;
}


#headerPanel span {
    margin-top: 8px;
}

ul#headerInformationContainer {
    float:right;
    margin:0;
    padding-right:20px;
}

ul#headerInformationContainer li{
    display: inline-block;
    margin-left: 20px;
    list-style-type: none;
}

ul#headerInformationContainer li a{
    float:left;
    color:white;
    text-decoration: none;
}

ul#headerInformationContainer li a:hover{
    text-decoration: underline;
}

div#treePanel{
    height: 100%;
    overflow: auto;
    float: left;
    bottom:0;
    width: 30%;
    border-right: 3px solid #1b324f;
    resize: horizontal;
}

div#treePanel div.archiveTree{
    margin-right: 0px;
}

div#nodePanel{
    height: 100%;
    /*    width: 69%;
        float: left;*/
    overflow: hidden;
    padding: 0px 10px;
}

div#feedbackPanel{
    overflow: hidden;
}

.feedbackPanelERROR{
    background: lightcoral;
}

.feedbackPanelINFO{
    background: lightblue;
}

ul.feedbackPanel{
    padding:0;
    border: 1px #ccc;
}

ul.feedbackPanel li{
    list-style: none;
    font-weight: bold;
    padding: 2px;
}

div#actionsPanelContainer{
    overflow:hidden;
}

div#actionsPanel input {
    font-size: medium;
}

div#nodePresentationContainer {
    height: 100%;
    font-size: 0.8em;
}

div#nodePresentationContainer h1 {
    font-size: 1.2em;
}

div#nodePresentationContainer a {
    color: #25466F;
}

div#nodePresentation{
    height:100%;
    overflow: auto;
    overflow-x: hidden;
}

div#nodePresentation img {
    vertical-align:text-top;
}

#viewFrame {
    width: 100%;
    height: 100%;
}

div#Welcome {
    overflow: scroll;
    padding: 5px;
    font-size: 0.9em;
    height: 100%;
}

div#Welcome img{
    vertical-align:text-top;
}

iframe.externalPage {
    width: 100%;
    height: 90%; 
}

#actionselectiondialogue ul {
    display: block;
  width: 100%;
    list-style-type: none;
    padding: 0em;
    margin: 0;
}

#actionselectiondialogue li {
    display: block;
    border-bottom: 1px solid;
}

#actionselectiondialogue li a {
    display: block;
    text-decoration: none;
    padding: 1em;
    color: black;
    padding-left: 50px;
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 10px;
}

#actionselectiondialogue li a.ViewResource {
  background-image: url("Ficons/writtenresource.gif");
}

#actionselectiondialogue li a.ViewAnnex {
  background-image: url("appIcons/IconAnnex25x25.gif");
}

#actionselectiondialogue li a:hover {
    background-color: #ccc;
}

#actionselectiondialogue li a span.actionname {
    display: block;
    font-weight: bold;
    margin-bottom: .2em;
} 


/**** NODE ICONS *****/

.tree-content a, .tree-content a span {
    background-repeat: no-repeat;
    padding-left: 18px
}

/* access level icons */

.tree-content .access-open span.tree-label {
    background-image: url("accessIcons/al_circle_green.png");
}
.tree-content .access-licensed span.tree-label {
    background-image: url("accessIcons/al_circle_yellow.png");
}
.tree-content .access-restricted span.tree-label {
    background-image: url("accessIcons/al_circle_orange.png");
}
.tree-content .access-closed span.tree-label {
    background-image: url("accessIcons/al_circle_red.png");
}
.tree-content .access-external span.tree-label {
    background-image: url("accessIcons/al_circle_black.png");
}
.tree-content .access-unknown span.tree-label {
    background-image: url("Ficons/unknown.png");
}

/* node type icons */

.tree-content .type-session {
    background-image: url("Ficons/session_color.gif");
}
.tree-content .type-catalogue {
    background-image: url("Ficons/catalogue.png");
}
.tree-content .type-corpus {
    background-image: url("Ficons/corpusnode_color.png");
}
.tree-content .type-audio {
    background-image: url("Ficons/audio.gif");
}
.tree-content .type-annotation {
    background-image: url("Ficons/annotation.gif");
}
.tree-content .type-video {
    background-image: url("Ficons/video.gif");
}
.tree-content .type-image {
    background-image: url("Ficons/pictures.gif");
}
.tree-content .type-written {
    background-image: url("Ficons/writtenresource.gif");
}
.tree-content .type-info {
    background-image: url("Ficons/infofile.gif");
}
.tree-content .type-mediafile {
    background-image: url("Ficons/mediafile.gif");
}
.tree-content .type-file {
    background-image: url("Ficons/file.gif");
}
.tree-content .type-cmdi {
    background-image: url("Ficons/clarin.png");
}
.tree-content .type-unknown {
    background-image: url("Ficons/unknown.png");
}

