body{
    margin:0;
    padding:0;
}

div#wrap{
    height: auto;
}

div#treeContainer33{
    overflow-x : scroll;
}
div#archiveTree18{
   border-top: 1px solid;
}

div#nodePanel{
    margin-top:20px;
    margin-left:20em;
}

div#actionsPanelContainer{
    padding-left: 1em;
    min-height: 2em;
    width: 100%;
    border-bottom: 1px;
}

div#actionsPanel input {
    font-size: medium;
}

div#nodePresentation {
    margin-top: 40px;
    position: relative;
    width: 100%;
    padding-left: 1em;
    padding-top: 1em;
}

div#treePanel{
    overflow: auto;
    top:0;
    bottom:0;
    position:absolute;
    float: left;
    width: 20em;
    border-right: 1px solid;
}


div#treePanel div.archiveTree{
    margin-right: 0px;
}

.feedbackPanelERROR{
    background: lightcoral;
}

.feedbackPanelINFO{
    background: lightblue;
}

ul.feedbackPanel{
    position:relative;
    width: 100%;
    margin-top:50px;
    border: 1px #ccc;
    padding: 0px;
}

ul.feedbackPanel li{
    list-style: none;
    font-weight: bold;
    padding: 2px;
}