<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:wicket>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>MediaFilePanel</title>
        <script src="mediaelementjs/mediaelement-and-player.min.js"></script>
    </head>
    <body>
        <wicket:panel>
            <span wicket:id="viewTitle"></span><br />
            <wicket:container wicket:id="streaming">
                <video id="video" width="640" height="360" wicket:id="displayVideo">
                    Your browser doesn't support the HTML5 video tag. Try downloading the file instead.
                    Fallback flash player for no-HTML5 browsers with JavaScript turned off
                    <object width="640" height="360" type="application/x-shockwave-flash" data="../build/flashmediaelement.swf">
                        <param name="movie" value="../build/flashmediaelement.swf" />
                        <param name="flashvars" value="controls=true&amp;file=../media/echo-hereweare.mp4" />
                    </object>
                </video>
                <p>
                    This is a streaming version of the selected video file that may be reduced in quality or size.
                    If you cannot see the video, your browser might not support MPEG4/H.264 video playback.
                    The following links may display the video or may initiate a download, depending on your browser:
                </p>
                <p>
                    <a wicket:id="originalFile"><span wicket:id="name">[filename]</span> (original file)</a><br />
                    <a wicket:id="streamingFile"><span wicket:id="name">[filename]</span> (streaming version)</a>
                </p>
            </wicket:container>
            <span wicket:id="altView"></span>
            <script>
                $('audio,video').mediaelementplayer({
                    success: function (player, node) {
                        $('#' + node.id + '-mode').html('mode: ' + player.pluginType);
                    }
                });
            </script>
        </wicket:panel>
    </body>
</html>
