<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:wicket>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>MediaFilePanel</title>
        <script src="mediaelementjs/mediaelement-and-player.min.js"></script>
    </head>
    <body>
        <wicket:panel>
            <div id="multinodeselection">
                <p>Multiple nodes selected:</p>
                <ul>
                    <li wicket:id="node"><span wicket:id="name">[name]</span></li>
                </ul>
            </div>
        </wicket:panel>
    </body>
</html>
