<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:wicket>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>PanelShowContent</title>
    </head>
    <body>
        <wicket:panel>            
        <h1>Cite this resource</h1>
            <div wicket:id="formInfoContainer">
                You selected a node from the archive: <br/>
                <form wicket:id="nodeInfoForm">
                    <p><span wicket:id="name">Name</span> from The Language Archive: <a href="" wicket:id="handleLink"></a></p>
                    <p><em>The link above comes with a persistent guarantee. It will remain stable and can thus be safely used for citation in publications and on websites.</em></p>                 
                </form></div><br />
            <div wicket:id="formDetailsContainer">               
                <input type="button" value="show details..." wicket:id="showDetails" />          
                <form wicket:id="nodeInfoDetails">

                   
                    Internal node id: <span wicket:id="nodeId">Node id</span><br/>
                    Title: <span wicket:id="title">title</span><br/>
                    Link to the node: <a href="" wicket:id="nodeLink"></a><br/>
                    <br/>
                    To save a reference to the CMDI Browser with the tree opened to this node, bookmark the following link:<br/>
                    <a href="" wicket:id="openpath" target="parent">name</a><br/>
                    <br/>
                    <br/>
                    <h1>Cite an archive node or resource</h1>
                    <br/>
                    You can create citations for this resource by embedding the following text in your document:
                    <br/>

                    Title: <span wicket:id="cite_title">title</span><br/>
                    Author(s): <span wicket:id="author">author</span><br/>
                    Archive Name: <span wicket:id="archive_name">archive name</span><br/>
                    Resource format: <span wicket:id="format">format</span><br/>
                    Published: <span wicket:id="last_modified">last modified</span><br/>
                    Handle: <span wicket:id="cite_handle">Handle</span><br/>
                    Link: <span wicket:id="resolvedHandle">Resolved Handle</span><br/>               
                </form>
            </div>
        </wicket:panel>
    </body>
</html>
