<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:wicket>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>PanelShowContent</title>
    </head>
    <body>
        <wicket:panel>
            <h1>Cite this resource</h1>
            <p>"<span wicket:id="name">Name</span>" from The Language Archive: <a href="" wicket:id="handleLink"></a></p>
            <p><em>Use the link above for citing this resource or (sub)corpus in a persistent way in your publications or for linking to it on web sites. Please have a look at the metadata description to find out which person(s) or project(s) should be mentioned as author.</em></p>
            <br />
            <div wicket:id="formDetailsContainer">
                <a wicket:id="showDetails">Show details...</a>
                <form wicket:id="nodeInfoDetails">
                    <hr />
                    <h1>Details</h1>
                    Title: <span wicket:id="title">title</span><br/>
                    Internal node id: <span wicket:id="nodeId">Node id</span><br/>
                    Link to the node: <a href="" wicket:id="nodeLink"></a><br/>
                    <br/>
                </form>
            </div>
        </wicket:panel>
    </body>
</html>
