/* CSS Document */
ul#navigation {
    position: absolute;
    overflow: hidden;
    margin:0; 
    padding:0;
}
ul#navigation li {
    width: 100px;
    display:inline;
}
ul#navigation li a {
    display: block;
    float: left;
    margin-top: -80px;
    width: 100px;
    height: 35px;
    background-color: #E7F2F9;
    background-repeat: no-repeat;
    background-position: 50% 10px;
    border: 1px solid #BDDCEF;
    text-decoration: none;
    text-align: center;
    padding-top: 80px;
    -moz-border-radius:0px 0px 10px 10px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -khtml-border-bottom-right-radius: 10px;
    -khtml-border-bottom-left-radius: 10px;
    /*    opacity: 0.7;*/
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
ul#navigation span:hover{
    background-color:#CAE3F2;
}
ul#navigation span{
    letter-spacing:2px;
    font-size:11px;
    color:#60ACD8;
    text-shadow: 0 -1px 1px #fff;
}

ul#navigation .MetadataSearch a{
    background-image: url(Metadata-Search-icon.png);
    background-repeat:no-repeat;
}

ul#navigation .AnnotationContentSearch a{
    background-image: url(Annotation-Search-icon.png);
    background-repeat:no-repeat;  
}

ul#navigation .ManageAccessRights a{
    background-image: url(User-Access-icon.png);
    background-repeat:no-repeat;
}
ul#navigation .Download a{
    background-image: url(Download-icon.png);
    background-repeat:no-repeat;

}
ul#navigation .DownloadSubtree a{
    background-image: url(Download-Folder-icon.png);
    background-repeat:no-repeat;
}
ul#navigation .ResourceAccess a{
    background-image: url(Resource-Access-icon.png);
    background-repeat:no-repeat;
}
ul#navigation .ViewNode a{
    background-image: url(Picture-View-icon.png);
    background-repeat:no-repeat;
}
ul#navigation .Citation a{
    background-image: url(Bookmarks-icon.png);
    background-repeat:no-repeat;
}

ul#navigation .Version a {
    background-image: url(Feature-Versioning-icon.png);
    background-repeat:no-repeat; 
}


