/* CSS Document */
ul#navigation {
    overflow: hidden;
    /*    margin-top: 5px;
        margin-bottom: 5px;*/
    padding:0;
}
ul#navigation li {
    /*    width: 100px;*/
    display:inline-block;
    margin-right: 5px;
}
ul#navigation li a {
    /*
        display: block;
        float: left;
        margin-top: -80px;
        width: 100px;
        height: 35px;
        background-color: #7E99AA;
        background-repeat: no-repeat;
        background-position: 50% 10px;
        border: 1px solid #BDDCEF;
        text-decoration: none;
        text-align: center;
        padding-top: 80px;
        -moz-border-radius:0px 0px 10px 10px;
        -webkit-border-bottom-right-radius: 10px;
        -webkit-border-bottom-left-radius: 10px;
        -khtml-border-bottom-right-radius: 10px;
        -khtml-border-bottom-left-radius: 10px;
    */

    opacity: 1; /** use for internet explorer **/
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
/*
ul#navigation span:hover{
    background-color:#CAE3F2;
}
ul#navigation span{
    letter-spacing:2px;
    font-size:11px;
    color:#60ACD8;
    text-shadow: 0 -1px 1px #fff;
}

ul#navigation .MetadataSearch a{
    background-image: url(Metadata-Search-icon.png);
    background-repeat:no-repeat;
}

ul#navigation .AnnotationContentSearch a{
    background-image: url(Annotation-Search-icon.png);
    background-repeat:no-repeat;
}

ul#navigation .ManageAccessRights a{
    background-image: url(User-Access-icon.png);
    background-repeat:no-repeat;
}
ul#navigation .Download a{
    background-image: url(Download-icon.png);
    background-repeat:no-repeat;

}
ul#navigation .DownloadSubtree a{
    background-image: url(Download-Folder-icon.png);
    background-repeat:no-repeat;
}
ul#navigation .ResourceAccess a{
    background-image: url(Resource-Access-icon.png);
    background-repeat:no-repeat;
}
ul#navigation .ViewNode a{
    background-image: url(Picture-View-icon.png);
    background-repeat:no-repeat;
}
ul#navigation .Citation a{
    background-image: url(Bookmarks-icon.png);
    background-repeat:no-repeat;
}

ul#navigation .Version a {
    background-image: url(Feature-Versioning-icon.png);
    background-repeat:no-repeat;
}
*/
/* buttons */
@font-face {
    font-family: 'icomoon';
    src:url('icomoon.eot');
    src:url('icomoon.eot?#iefix') format('embedded-opentype'),
        url('icomoon.woff') format('woff'),
        url('icomoon.ttf') format('truetype'),
        url('icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

ul#navigation a, div#linksPanel a {
    font-family: 'Verdana';
    font-weight: normal;
    font-style: normal;
    color: white;
    text-decoration: none;
    padding: 10px 15px 10px 55px;
    /*    display: inline-block;*/
    /*    margin-right: 20px;
        margin-bottom: 9px;*/
}

/* General button style (reset) */
.btn {
    border: none;
    font-family: inherit;
    font-size: 0.8em;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 15px 20px;
    display: inline-block;
    margin: 5px 0px;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn:before,
.icon-heart:after,
.icon-star:after,
.icon-plus:after,
.icon-file:before {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

.View:before {
    content: "\e608";
}

.Download:before {
    content: "\e607";
}

.DownloadAll:before {
    content: "\e607"; /* TODO: separate icon for multi download */
}

.MetadataSearch:before {
    content: "\e605";
}

.ContentSearch:before {
    content: "\e605";
}

.ManageAccess:before {
    content: "\e606";
}

.RequestAccess:before {
    content: "\e603";
}

.Citation:before {
    content: "\e604";
}

.VersionInfo:before {
    content: "\e601";
}

div#linksPanel {
    margin: 16px;
}

div#linksPanel a.Bookmark, div#linksPanel a.Bookmark:visited {
    float: right;
    margin-top: 5px;
    background: #97424c;
}

div#linksPanel a.Bookmark:hover {
    background: #bc3b34;
}
div#linksPanel a.Bookmark:active {
    background: #622122;
}

div#linksPanel a.Bookmark:before {
    content: "\e602";
}


/* Button 3 */
.btn-3 {
    background: #25466f;
    color: #fff;
}

.btn-3:hover {
    background: #4F6D92;
}

.btn-3:active {
    background: #576A75;
    top: 2px;
}

.btn-3:before {
    position: absolute;
    height: 100%;
    left: 13px;
    top: 0;
    line-height: 2;
    font-size: 150%;
    width: 30px;
}

/* Button 3b */
.btn-3b {
    padding: 0px;
    border-radius: 10px;
}

.btn-3b:before {
    border-right: 2px solid rgba(255,255,255,0.5);
}


div#bookmarkdialogue {
    font-size: small;
    width: 40em;
    height: 10em;
    padding: .5em;
}

div#bookmarkdialogue  .bookmarklinks {
    display: block;
    border: 1px dashed;
    padding: .5em;
    margin-left: .5em;
}

div#bookmarkdialogue a.bookmarkicon {
    display: inline-block;
    width: 1em;
    height: 1em;
    text-decoration: none;
}

div#bookmarkdialogue a.bookmarkicon:before {
    font-family: 'icomoon';
    content: "\e602";
}

/* span with title hidden, it's only there to provide a bookmark title */
div#bookmarkdialogue a.bookmarkicon span#title {
    display: none;
}

div.wicket-mask-dark {
    opacity: 0.4 !important;
}