/* CSS Document */
ul#navigation {
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 0px;
    right: 10px;
    list-style: none;
    z-index:9999;
}
ul#navigation li {
    width: 100px;
    display:inline;
    float:right;
}
ul#navigation li a {
    display: block;
    float: left;
    margin-top: -2px;
    width: 100px;
    height: 35px;
    background-color: #E7F2F9;
    background-repeat: no-repeat;
    background-position: 50% 10px;
    border: 1px solid #BDDCEF;
    text-decoration: none;
    text-align: center;
    padding-top: 80px;
	-moz-border-radius:0px 0px 10px 10px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -khtml-border-bottom-right-radius: 10px;
    -khtml-border-bottom-left-radius: 10px;
    opacity: 0.7;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
ul#navigation span:hover{
     background-color:#CAE3F2;
}
ul#navigation span{
    letter-spacing:2px;
    font-size:11px;
    color:#60ACD8;
    text-shadow: 0 -1px 1px #fff;
}
ul#navigation .MetadataSearch a{
    background-image: url(search-icon.png);
	background-repeat:no-repeat;
}
ul#navigation .ManageAccessRights a{
    background-image: url(access-icon.png);
	background-repeat:no-repeat;
}
ul#navigation .download a{
    background-image: url(Download-icon.png);
	background-repeat:no-repeat;

}
ul#navigation .Downloadallsubtree a{
    background-image: url(Download-Folder-icon.png);
	background-repeat:no-repeat;
}
ul#navigation .ResoourceAccess a{
    background-image: url(rss.png);
	background-repeat:no-repeat;
}
ul#navigation .viewNode a{
    background-image: url(picture-view-icon.png);
	background-repeat:no-repeat;
}
ul#navigation .Fileinformation a{
    background-image: url(Bookmarks-icon.png);
	background-repeat:no-repeat;
}


