<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context/spring-context-2.5.xsd"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
          http://www.springframework.org/schema/context/spring-context-2.5.xsd http://www.springframework.org/schema/context/spring-context-2.5.xsd/spring-spring-context-2.5.xsd-3.2.2.RELEASE.xsd
">
    
    <!-- Global Spring configuration for the Metadata Browser (no profile specific configuration in here please) -->

    <!-- Wicket application class -->	
    <bean id="wicketApplication" class="nl.mpi.metadatabrowser.wicket.MetadataBrowserApplication" />
    <!-- Services -->
    <bean id="actionRequestHandler" class="nl.mpi.metadatabrowser.wicket.services.impl.ControllerActionRequestHandlerImpl">
	<property name="navigationRequestHandler">
	    <bean class="nl.mpi.metadatabrowser.wicket.services.impl.NavigationRequestHandler">
		<!-- TODO: Make RRS URL configurable through context parameters -->
		<property name="rrsUrl" value="http://corpus1.mpi.nl/ds/RRS_V1/RrsIndex" />
	    </bean>
	</property>
	<property name="downloadRequestHandler">
	    <bean class="nl.mpi.metadatabrowser.wicket.services.impl.DownloadRequestHandler" />
	</property>
    </bean>
</beans>
