<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.6-strict.dtd">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>NodeActionsPanel</title>
    </head>
    <body>
        <wicket:panel>
            <div id="bookmarkdialogue">
                <p>
                    Use the link below to link to this node in the archive:
                    <br /><br />
                    <span class="bookmarklinks">
                        <a class="bookmarkicon" wicket:id="icon"><span id="title" wicket:id="title"></span></a>
                        <a class="bookmark" wicket:id="link">[link]</a>
                    </span>
                </p>
                <p>
                    To create a bookmark, either drag the small bookmark icon to your bookmarks area or right-click it and select the bookmark function from the menu.
                </p>
            </div>
        </wicket:panel>
    </body>
</html>
