<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.6-strict.dtd" xml:lang="en"
      lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>headerPanel</title>
    </head>
    <body>
        <wicket:panel>
            <img id="header" alt="" height="35" border="0" wicket:message="src:header.icon1" /> <!-- previously tla_logo -->
            <span id="header" name="appname"><wicket:message key="header.title"/></span>
            <img id="header" alt=""  height="35" border="0" wicket:message="src:header.icon2" /> <!-- previously Clarin_inverted -->
            <ul id="headerInformationContainer">
                <li>
                    <a href="" wicket:id="homeLink" target="_parent"><img id="header" height="16" border="0" alt="Home" src="home.png"/></a>
                </li>
                <li>
                    <a href="" wicket:id="aboutLink">about</a>
                </li>
                <li>
                    <a href="" wicket:id="manualLink">manual</a>
                </li>
                <li>
                    <a href="" wicket:id="registerLink">register</a>
                </li>
                <li><a wicket:id="userName" id="header">user: <span wicket:id="user"></span></a></li>
                <li>
                    <a href="" wicket:id="userLoginLink">login</a>
                </li>
            </ul>
        </wicket:panel>
    </body>
</html>
